:root {
  font-family: Arial, sans-serif;
  color-scheme: light dark;
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(128, 0, 64, 0.15) 1px, transparent 1px);
  background-size: 100% 5px;
}

#bgcanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  filter: blur(2px);
  object-fit: cover;
}

.border {
  border: solid rgba(196, 0, 0, 0.50) 4px;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 5px;
  max-width: 80vw;
  border-radius: 2px;
}

#msg {
  padding: 10px;
  filter: blur(min(2px, 0.25vw));
  font-family: monospace;
  font-weight: bold;
  font-size: min(72px, 5.5vw);
  text-align: center;
  color: rgb(196, 0, 0);
  text-shadow: 0 0 3px rgba(128, 0, 0, 0.15);
  text-transform: uppercase;
  display: block;
}